@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Style+Script&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

.head h4 {
    font-size: 25px;
    color: azure;
    margin-top: -306px;
    /* display: flex; */
    margin-left: 240px;
    position: absolute;
    border: 0.1px solid white;
    padding: 15px;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1538c4;
}
.container{
    width:690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}

.text-input .to-text{
    border-left:1px solid #bbb;
    border-radius: 0px;
   
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;

}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.controls, li, .icons,.icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls  .row.from .icons{
    padding-right:15px;
    border-right: 1px solid #bbb;
}

.controls  .row.to .icons{
    padding-left:15px;
    border-left: 1px solid #bbb;
}




.controls{
    
    
    list-style:none;
    padding: 12px 15px;
}
.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}

.controls .icons {
    width: 38%;


}

.controls .row select{
    border:none;
    outline: none;
    font-size: 18px;
    background: none;

}
.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background-color:cornflowerblue
}

